mixin more()

  - var className = 'more'

  include more.data.pug

  section(class=className)
    div(class=className + '__container')
      div(class=className + '__info')
        h2(class=className + '__title') Кому подойдет #[br] наш поселок
        p(class=className + '__description') чистый воздух, леса, поля, озера, тишина, ароматы трав и цветов. Это место просто создано для Вас, если...
      ul(class=className + '__list')
        each item in moreData
          li(class=className + '__item')= item.text
