mixin history()

  - var className = 'history'

  section(class=className)
    div(class=className + '__container')
      div(class=className + '__info')
        h2(class=className + '__title') Наша история
        p(class=className + '__description') В этом году нашему поселку исполнилось 10 лет, на этом наша история только начинается
      div(class=className + '__content')
        figure(class=className + '__figure')
          img(src=imagePath + 'history.jpg', title='История котеджного поселка Лебедево', alt='История котеджного поселка Лебедево', loading="lazy")
        p(class=className + '__text').
          Коттеджный поселок Лебедево организован в 2010 году вблизи села Мостовское, в 35 км от Екатеринбурга. Поселок находится в окружении смешанных лесов с большим преобладанием хвойных пород, что и дает неповторимый чистый воздух и тишину. #[br] #[br]
          Экологичность территории и возможность вести активный, спортивный образ жизни привлекли сюда людей, которые по-настоящему ценят ЗОЖ. В поселке создана базовая инфраструктура: грунтовые дороги, собственные электросети, ведется работа по устройству центральной канализации. Собственный водоем дает возможность жителям загорать и купаться. Доступны услуги мобильной связи. #[br] #[br]
          Площадь поселка рассчитана на 320 участков, из которых более 100 уже имеют владельцев. Участки выделены по 8 и 10 соток. Часть жителей берут два участка, чтобы хватило места и для просторного дома, и для благоухающего сада, и для русской баньки.