mixin observation()

  - var className = 'observation'

  section(class=className)
    section(class=className)
      div(class=className + '__container')
        div(class=className + '__info')
          h2(class=className + '__title') Круглосуточное #[br] наблюдение
          p(class=className + '__description') Нам важно Ваше спокойствие и безопасность. поэтому мы обеспечили посёлок системой круглосуточного видеонаблюдения
        div(class=className + '__video')
          <iframe src="https://fls.kat-telecom.ru/251/embed.html?dvr=false" width="640" height="480"></iframe>
        div(class=className + '__weather')
          <div class="elfsight-app-2040b944-b856-440e-90be-c49c8c661d26"></div>