mixin nav(tag, isMainNav, mods)

  -
    var className = 'nav';

    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods += ' ' + className + '--' + modsList[i].trim();
      }
    }

  include nav.data.pug
  include ../burger/burger.pug

  #{tag}(class=className + allMods)&attributes(attributes)
    if(isMainNav)
      +burger('Меню', 'nav', 'nav--open')(class='bar__burger')
    div(class=className + '__wrapper')
      ul(class=className + '__list')
        each navItem in navData
          li(class=className + '__item')
            +button(navItem.title, 'lnk-underline')(class=className + '__link', href=navItem.href)
